<template name="questions">
  <div class="row">
    <div class="col s12 m12 l6 offset-l3">
      <ul class="collection">
        {{# each questions}}
          <li class="collection-item">
            {{description}}
            <a href="{{pathFor 'questions.delete' id=_id}}" class="secondary-content">
              <i class="material-icons">delete</i>
            </a>
            <a class="secondary-content"><i class="material-icons"></i></a>
            <a href="{{pathFor 'questions.edit' id=_id}}" class="secondary-content">
              <i class="material-icons">edit</i>
            </a>
          </li>
        {{/ each}}
      </ul>
      <a href="{{pathFor 'questions.new' }}" class="btn-floating btn-large waves-effect waves-light right light-blue"><i class="material-icons">add</i></a>
    </div>
  </div>
</template>
