<template name="mainLayout">
  <nav>
    <div class="nav-wrapper">
      <a href="{{pathFor 'home'}}" class="brand-logo"><img class="NavLogo" src="/logo.jpg"/>  Agnus</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{pathFor 'home'}}">Home</a></li>
        <li><a href="{{pathFor 'surveys'}}">Surveys</a></li>
        <li><a href="{{pathFor 'questions'}}">Questions</a></li>
        <li><a href="{{pathFor 'overview'}}">Overview</a></li>
        {{> loginButtons}}
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="row"></div>
    <div class="col s12">
      {{ > yield }}
    </div>
  </div>
</template>
