<template name="answerButtons">
  <div>
    <input name="answers{{questionId}}" type="radio" id="{{questionId}}-1" />
    <label class="black-text" for="{{questionId}}-1">Inaceitável</label>
    <input name="answers{{questionId}}" type="radio" id="{{questionId}}-2" />
    <label class="black-text" for="{{questionId}}-2">Tem de melhorar</label>
    <input name="answers{{questionId}}" type="radio" id="{{questionId}}-3" />
    <label class="black-text" for="{{questionId}}-3">Satisfatório (assim assim)</label>
    <input name="answers{{questionId}}" type="radio" id="{{questionId}}-4" />
    <label class="black-text" for="{{questionId}}-4">Unicórnio (perfeito)</label>
  </div>
</template>
