<template name="surveysReply">
  <div class="row">
    <div class="col s8 offset-s2 center-align">
      <h4>{{surveyName}}</h4>
      {{# each questions}}
        <div class="card hoverable">
          <div class="card-content">
            <p>{{description}}</p>
            <br>
            {{ > answerButtons questionId=_id scores=scores}}
          </div>
        </div>
      {{/ each}}
      <div class="right-align">
        <button class="btn btn-primary" id="submit">Submit</button>
      </div>
    </div>
  </div>
</template>
